.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.imageBox {
  background: #dfeee6;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.imageBox img {
  height: 150px;
}

.content {
  padding: 15px;
}

h3 {
  margin: 0;
}

.available {
  color: #22c55e;
  font-size: 12px;
}

.unavailable {
  color: red;
  font-size: 12px;
}

.price {
  color: #22c55e;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}