.container {
  min-height: 100vh;
  background: #eef5f1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 60px;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 25px;
}

.logo {
  width: 55px;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.header p {
  color: #777;
  font-size: 14px;
}

/* TABS */
.tabs {
  display: flex;
  width: 360px;
  background: #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 25px;
  
}
.tabs button:hover:not(.activeTab) {
  background: #FFFFFF;
}
.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #555;
}

.active {
  background: white;
  border-radius: 12px;
  font-weight: 600;
  color: black;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 18px;

  border: 2px solid #3b82f6;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* LABELS */
.card label {
  font-size: 14px;
}

/* INPUTS */
.card input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.card input:focus {
  border-color: #3b82f6;
}

/* FORGOT */
.forgot {
  background: none;
  border: none;
  color: #22c55e;
  text-align: left;
  cursor: pointer;
  font-size: 13px;
}

/* LOGIN BUTTON */
.loginBtn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn:hover {
  background: #16a34a;
}

/* GOOGLE BUTTON */
.googleBtn {
  background: #F5F5F552;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
}

.googleBtn img {
  width: 18px;
}