@import "tailwindcss";

@theme {
  --color-brand-green: #2ad367;
}

@layer base {
  body {
    @apply font-sans bg-[#eef5f1] text-[#0f172a] min-h-screen dark:bg-[#121212] transition-colors duration-300;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

/* Custom scrollbar for Admin Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(42, 211, 103, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(42, 211, 103, 0.4);
}
